html {
    height: 100%;
}

body {
    background-color: #84a8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: auto;
    width: 800px;
    font-family: "Madimi One", sans-serif;
    background-color: aliceblue;
    margin-top: 30px;
    border-radius: 14px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#app-name-header {
    font-size: 40px;
    padding-top: 20px;
}

.btn {
    margin-top: 8px;
}

#post-title {
    margin-top: 15px;
    font-size: 29px;
}

#post-date {
    margin-top: 15px;
    color: rgb(175, 175, 175);
}

#post-content {
    font-size: 18px;
}

#post-author {
    color: rgb(175, 175, 175);
    margin-bottom: 2px;
}

.edit-btn-form {
    width: auto;
}

#new-post-title {
    font-family: "Madimi One", sans-serif;
    width: calc(100% - 50px);
    padding: 14px;
    border: none;
    border-radius: 14px;
}

#new-post-title:focus {
    outline: none;
}

#new-post-content {
    font-family: "Madimi One", sans-serif;
    width: calc(100% - 50px);
    margin-top: 20px;
    padding: 14px;
    min-height: 400px;
    border: none;
    border-radius: 14px;
    resize: vertical;
    overflow-y: auto;
}

#new-post-content:focus {
    outline: none;
}

#new-post-author {
    font-family: "Madimi One", sans-serif;
    width: calc(100% - 50px);
    padding: 14px;
    border: none;
    margin-top: 10px;
    border-radius: 14px;
}

#new-post-author:focus {
    outline: none;
}

#update-post-btn {
    font-family: "Madimi One", sans-serif;
    width: calc(100% - 25px);
    background-color: #50fe91;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    border-radius: 14px;
    border: none;
    padding: 15px 0;
}

#update-post-btn:hover {
    background-color: #3fd677;
}

#posts-list {
    list-style-type: none;
}

.post-container {
    margin-bottom: 30px;
}

.empty-blog {
    text-align: center;
    align-items: center;
}

#message {
    font-size: 19px;
    padding: 15px;
    font-weight: bold;
}

#edit-btn {
    padding-left: 22px;
    padding-right: 22px;
}