<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Edit Blog</title>
</head>

<body>
    <div class="container">
        <h1 id="edit-post-header">Edit Post</h1>
        <input id="new-post-title" type="text" placeholder="Enter title" required>
        <textarea id="new-post-content" type="text" placeholder="Enter content" required></textarea>
        <input id="new-post-author" type="text" placeholder="Enter author" required>
        <button id="update-post-btn">Update Post</button>
    </div>
</body>

</html>